.login-block {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-width: 500px;
    margin: 3.5rem auto;
    border-radius: 4px;
}

.login-block h1 {
    font-size: 3rem;
    font-weight: bold;
}

.login-block input {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
    padding: 8px;
}

.login-form-btn {
    text-align: end;
}

.login-block button {
    background: #1563a1;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    transition: 250ms ease;
    margin-top: 4px;
}
